<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Home | Lista de Productos</title>
</head>
<body>
  <h1>Productos</h1>
  <ul>
    {{#each products}}
      <li>
        <strong>{{title}}</strong> - ${{price}} <br />
        {{description}}
      </li>
    {{/each}}
  </ul>
</body>
</html>
